extends layout

block content
  .row
    .span12
      script(src='/js/client.js')
      .hero-unit
        img(src='/img/vine_icon.png', style="width:8%")
        h1.white_head(style="font-size:35pt")= 'inefeed'
        p Welcome to #{title}
        form.form-search
          div.input-append
            input(type="text", class="span2 search-query")
            button(type="submit", class="btn")="Search"
  .row
    .span12#videos
  .row
    #bottom_border