extends layout

block content
  script(src='/js/client.js')
  h1= title
  p Welcome to #{title}
  form
    input#search(type="search")
    input(type="submit", onclick="searchHandler();")

  #test
  
  #videos


