extends layout

block content
  .row
    .span12
      script(src='/js/client.js')
      .navbar.navbar-fixed-top
        .navbar-inner
          a.brand(href='#')
            img(src='/img/vine_icon.png', style="width:20px")
            |inefeed
          form.navbar-search.pull-left#searchForm
            input.search-query#searchBar(type="text")
          button.btn.pull-right#moreBtn(type="submit")="More"
  .row.span12#videos

  .row
        bottom_border
