extends layout

block content
  .row
    .span12
      script(src='/js/client.js')
      .navbar.navbar-fixed-top
        .navbar-inner
          a.brand(href='#')
            img(src='/img/vine_icon.png', style="width:20px")
            |inefeed
          form.navbar-search.pull-left#searchForm
            input.search-query#searchBar(type="text", placeholder="Search using #hashtags or whatever")
          button.btn.pull-right#moreBtn(type="submit")="More"
  .row.span12#videos
    .row#row-0
      .item#item-0.span-3
      .item#item-1.span-3
      .item#item-2.span-3
      .item#item-3.span-3
    .row#row-1
      .item#item-4.span-3
      .item#item-5.span-3
      .item#item-6.span-3
      .item#item-7.span-3
    .row#row-2
      .item#item-8.span-3
      .item#item-9.span-3
      .item#item-10.span-3
      .item#item-11.span-3

  .row
    #bottom_border
