extends layout

block content
  .row
    .span12
      script(src='/js/client.js')
      h1= title
      p Welcome to #{title}
      form
      input#search(type="search")
      input(type="submit", onclick="searchHandler();")
  .row
    #videos
  .row
    #bottom_border