body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*.magnify {
	width: 200px;
	height: 200px;
	-moz-transitions: all 1s ease-in-out 0s;
}*/

/*.magnify:hover {
	width:300px; 
	height:300px;
	-webkit-transitions:  width 2s ease, height 2s ease;
	-webkit-transitions-direction:ease-in;
}*/