body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.white_head {
	color: white;
	display: inline-block;
	vertical-align: top;
	font-size: 35pt;
}

.hero_unit {
	background-color: #00AC7F;
}

.container {
	width: 100%;
}

#bottom_border {
	width: 100%;
	height: 100px;
}

.magnify {
	width: 200px;
	height: 200px;
}

.item {
	display: inline-block;
	float: left;
	position: relative;
	z-index: 1;
	margin-top: 10px;
	margin-bottom: 20px;
	height: 200px;
	width:200px
}

.bigger {
	width: 200px;
	height: 200px;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
}

.bigger:hover {
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
}

div.ttip {
	position:relative;
	visibility: hidden;
	opacity:0;
	z-index:9999;
	width:188px;
	border: 1px solid #CCCCCC;
	padding:5px;
	background:#FFFFFF;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
}

.bigger:hover + div.ttip {
	opacity: 1;
	visibility: visible;
	top:50px;
	left:-50px;
	width:288px;
}

.navbar-inner {
	margin-left:5px;
	margin-right:5px;
}

#moreBtn {
	width:100px;
}

.spinner {
	margin:84px;
	z-index:3;
	position:absolute;
}
